// Neutrals
$color-neutral-light: #f9f9f9;
$color-neutral-dark: #333;
$color-neutral-gray: #666;
$color-neutral-gray-light: #888;
$color-border: #ddd;

// Green
$color-green-primary: #28a745;
$color-green-hover: #218838;

// Blues
$color-blue-primary: #0078d4;
$color-blue-secondary: #005a9e;
$color-blue-light: #eef6fc;

// Reds
$color-red-primary: #f44336;
$color-red-hover: #e53835;

// Misc
$color-button-edit: #6085a2;
$color-button-edit-hover: rgba(96, 133, 162, 0.56);
